# auf: crontab-update
# @dotfile
#
# $PATH=/usr/bin:/bin
#
# NOTE: To get notify-send to work:
#       DISPLAY=:0
#       DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
#
# Running bash script through fish cos PATH and SSH_AGENT and more by fish.
#

0 8,21 * * * fish -c "bash $HOME/.scripts/cron/sys-backup"
0 */3 * * * sudo pacman -Sc --noconfirm
5 */3 * * * sudo pacman -Syuw --noconfirm
