#!/bin/bash
## This program creates config for server, for frontend.
[[ $1 == -h ]] && zbx.-h $0 && exit

## Choose one of:
while [[ $# > 0 ]];do case $1 in
    #- Use only for api tests config.
    -a |--api-tests-conf)__api_tests_conf=1;;
    #- Flavour config in to using postgres
    -Dp|--db-postgres)__db_postgres=1;;
    #- Open editot to update this stcipt.
    -ED) $EDITOR $0; exit 0;;
esac;shift;done

working_dir="$(zbx.resolve --working-dir)"
build_dir="$(zbx.resolve --build-prefix)"
branch_name="$(zbx.resolve --branch)"


srv=$build_dir/etc/zabbix_server.conf
agent=$build_dir/etc/zabbix_agentd.conf
frontend=$working_dir/frontends/php/conf/zabbix.conf.php
# Os Arch: address needed cos dev environment is in docker, but server process in localhost
machine_addr=$(ip addr | grep eno1 -A 3 | grep -e "inet\b" | awk '{print $2}' | cut -d/ -f1)

if [ ! -z $__api_tests_conf ]; then
    frontend=$working_dir/frontends/php-test-api/conf/zabbix.conf.php
    branch_name="$(zbx.resolve --branch)_test_api"
fi

cat > $frontend <<- EOM
<?php
global \$DB, \$HISTORY;
\$DB['TYPE'] = 'MYSQL';
\$DB['SERVER'] = '127.0.0.1';
\$DB['PORT'] = '0';
\$DB['DATABASE'] = '${branch_name}';
\$DB['USER'] = 'root';
\$DB['PASSWORD'] = '';
\$DB['SCHEMA'] = '';
\$ZBX_SERVER = '${machine_addr}';
\$ZBX_SERVER_PORT = '10051';
\$ZBX_SERVER_NAME = '[maria]${branch_name}';
\$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
EOM

if [ ! -z $__db_postgres ]; then
    echo "\$DB['TYPE'] = 'POSTGRESQL';" >> $frontend
    echo "\$DB['USER'] = 'postgres';" >> $frontend
    echo "\$ZBX_SERVER_NAME = '[postgre]${branch_name}';" >> $frontend
fi

if [ ! -z $__api_tests_conf ]; then
    echo "written: $frontend";
    exit 0;
fi

echo "Include=$build_dir/etc/zabbix_server.conf.d/*.conf" >> $srv;
cat > $srv.d/override.conf <<- EOM
LogFile=$build_dir/zabbix_server.log
DBHost=127.0.0.1
DBName=$branch_name
DBUser=root
DBPassword=
LogSlowQueries=200
Timeout=4
CacheSize=512M
TrendCacheSize=64M
ValueCacheSize=1G
AlertScriptsPath=$build_dir/share/zabbix/alertscripts
EOM

if [ ! -z $__db_postgres ]; then
    echo "DBUser=postgres" >> $srv
fi

cat > $agent <<- EOM
LogFile=$build_dir/zabbix_agentd.log
EnableRemoteCommands=1
LogRemoteCommands=1
Server=127.0.0.1
EOM

echo "written: $frontend"
echo "written: $srv"
